.App {
  text-align: center;
  /* background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%); */
}

::-moz-selection {
  background-color: #ffffffb2 !important;
}

/* Texte principal */
.MuiDropzoneArea-text {
  color: purple;
}

/* Texte secondaire */
.MuiDropzoneArea-text.MuiTypography-colorTextSecondary {
  color: purple;
  font-weight: bolder;
}